.contact {
  margin-bottom: 2rem;
  a:link {
    color: $color-blue-4;
  }

  a:visited {
    color: $color-blue-4;
  }

  a:hover {
    text-decoration: none;
  }

  color: $color-blue-4;

  &__heading {
    font-size: $font-size-lg;
    padding: 1rem;
    text-align: center;
  }
  &__content {
    // margin: 3rem auto;
    font-size: $font-size-normal;

    margin: auto;
  }
}
