.contact {
  padding-bottom: 2rem;

  a:link {
    color: $color-yellow-1;
  }

  a:visited {
    color: $color-yellow-1;
  }

  a:hover {
    text-decoration: none;
  }

  color: $color-yellow-1;

  &__heading {
    font-size: $font-size-lg;
    padding: 1rem;
    text-align: center;
    color: $color-yellow-1;
  }
  &__content {
    color: $color-yellow-1;
    font-size: $font-size-normal;

    margin: auto;
  }
}
