.skills {
  margin: 3rem auto;
  &__card {
    width: 15rem;
    padding-bottom: 2rem;
    margin: auto;
    &__header {
      text-align: center;
      padding-bottom: 1rem;
      font-size: $font-size-md;
    }
    &__icon {
      padding-top: 1rem;
      text-align: center;
      font-size: $icon-size-lg;
    }
    &__body {
      text-align: center;
      font-size: $font-size-normal;
    }
  }
  // &__more-less {
  //   padding-bottom: 2rem;
  //   font-size: 1rem;
  // }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
