// Colours
$color-lightblue-1: #f5fafc;
$color-lightblue-2: #f0fbff;
$color-lightblue-3: #dde8f3;
$color-lightblue-4: #d7e1eb;
$color-lightblue-5: #507eac;

$color-yellow-1: #fcfadd;
$color-yellow-2: #f2f0d6;
$color-yellow-3: #fff897;
$color-yellow-4: #fdc500;

$color-brown-1: #f2812a;
$color-brown-2: #bf5402;
$color-brown-3: #b14e02;

$color-blue-1: #003f88;
$color-blue-2: #00296b;
$color-blue-3: #0c2347;
$color-blue-4: #082042;
$color-blue-5: #030c18;

$color-gray-1: #060505;
$color-gray-2: #070809;
$color-gray-3: #202329;
$color-gray-4: #495057;
$color-gray-5: #334561;
$color-gray-6: #6c757d;
$color-gray-7: #dee2e6;
$color-gray-8: #e9ecef;

//Fonts
$font-primary: "Didact Gothic", sans-serif;

// $font-size-menu: 0.8rem;

$font-size-banner-1: 10rem;
$font-size-banner-1-phone: 8rem;

$font-size-banner-2: 5rem;
$font-size-banner-2-phone: 3.5rem;

$font-size-sm: 0.9rem;
$font-size-normal: 1.1rem;
$font-size-md: 1.7rem;
$font-size-lg: 2rem;

// Project links icons
$icon-size-sm: 0.8rem;

// Header menu icons
$icon-size-md: 1.8rem;

// Skills icons
$icon-size-lg: 3rem;
